* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: gray;
}

.main-visual {
	width: 100%;
	height: 400px;
	background-image: url(img/mv.jpg);
	background-size: cover;
	background-position: bottom;
}

.main-visual-text {
	padding-top: 20px;
	margin-left: 20px;
	font-size: 30px;
}

main {
	width: 840px;
    margin: 50px auto;
}

.main-content1 {
	padding-bottom: 30px;
	margin-bottom: 30px;
	border-bottom: 1px solid gray;
}
.main-content2 {
	padding-bottom: 30px;
	margin-bottom: 30px;
	border-bottom: 1px solid gray;
}
.main-content3 {
	padding-bottom: 30px;
	margin-bottom: 30px;
	border-bottom: 1px solid gray;
}
.main-content4 {
	padding-bottom: 30px;
	margin-bottom: 30px;
	border-bottom: 1px solid gray;
}

